Django
django-cors-headers==3.10.1
django-redis
djangorestframework
djangorestframework-simplejwt
docker
docker-compose
docker-pycreds
dockerpty
gunicorn
psycopg2-binary
python-decouple
redis
requests